*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

**/.idea/*
scala-spark-big-data/wikipedia/src/main/resources/wikipedia/wikipedia.dat
scala-spark-big-data/stackoverflow/src/main/resources/stackoverflow/stackoverflow.csv
